## Arithmatic operators

operator|meaning
-|-
+|addition
-|subtraction
*|multiplication
/|True division
//|integer division
%|modulo operator

In [1]:
var_a = 5
var_b = 25
integer_division = var_b // var_a
print(f"integer division: {var_b}/{var_a}={integer_division}")

integer division: 25/5=5

In [2]:
var_a = 3
var_b = 25
integer_division = var_b // var_a
print(f"integer division: {var_b}/{var_a}={integer_division}")

integer division: 25/3=8

In [3]:
var_a = 5
var_b = 25
remainder = var_b % var_a
print(f"remainder: {var_b}/{var_a} is {remainder}")

remainder: 25/5 is 0

In [4]:
var_a = 3
var_b = 25
remainder = var_b % var_a
print(f"remainder: {var_b}/{var_a} is {remainder}")

remainder: 25/3 is 1

In [5]:
A = 22
B = 23

A + B

45

In [6]:
A - B

-1

In [7]:
A / B

0.9565217391304348

In [8]:
A // B

0

In [9]:
A = 5
B = 2

A // B

2

In [10]:
A % B

1

In [11]:
A = 4
B = 2

A % B

0

In [12]:
A = 55
B = 2

if A % B == 0:
    print(f"A: {A} is divisible by B: {B}")
else:
    print(f"A: {A} is not divisible by B: {B}")

A: 55 is not divisible by B: 2

In [13]:
A = 55
B = 3

if A % B == 0:
    print(f"A: {A} is divisible by B: {B}")
else:
    print(f"A: {A} is not divisible by B: {B}")

A: 55 is not divisible by B: 3

In [16]:
A = 4

A ** (1/2) # Square Root

2.0

In [17]:
A ** 2 # A raised/ powered to 2/ squared

16

## String methods

If N characters or elements are there in a string, then the index range will vary from 0 to N-1. For example, in "Shubhranshu" N=11, index value is ranging from 0 to 10.
To index in reverse order, the index value ranges from -1 to -N

In [18]:
# String indexing
# 012345678910
# -11-10-9-8-7-6-5-4-3-2-1

name = "Shubhranshu"

name[0]

'S'

In [19]:
name[4]

'h'

In [20]:
name[-1]

'u'

In [21]:
name[-11]

'S'

In [22]:
# String slicing

name = "Shubhranshu"

name[1:]

'hubhranshu'

In [23]:
name[1:3] # Ending is excluded

'hu'

In [24]:
name[1:4]

'hub'

In [25]:
name[1:9]

'hubhrans'

In [27]:
name[-11:-1]

'Shubhransh'

In [28]:
date = "22/12/2022"
#index  0123456789

# today's date, month and year

todays_date = date[0:2]
month = date[3:5]
year = date[6:]

print(f"its {todays_date}th day of {month} month of the year {year}")

its 22th day of 12 month of the year 2022

In [30]:
date = input("Enter date of birth in the format DD/MM/YYYY: ")

day = date[0:2]
month = date[3:5]
year = date[6:10]

print(f"The user was born on {day} in the month of {month} in the year {year}")

Enter date of birth in the format DD/MM/YYYY: 09/03/1995
The user was born on 09 in the month of 03 in the year 1995

In [35]:
date = input("Enter date of birth in the format DD/MMM/YYYY: ")

day = date[0:2]
month = date[3:6]
year = date[7:11]

print(f"The user was born on {day}th of {month} in the year {year}")

Enter date of birth in the format DD/MMM/YYYY: 09/Mar/1995
The user was born on 09th of Mar in the year 1995

In [38]:
name = "Shubhranshu" #S_u_h_a_s_u

name[0:11:2] #[start, end, step]

'Suhasu'

In [39]:
name[0::2]

'Suhasu'

In [40]:
name[0:11:3]

'Sbah'

In [41]:
name = "Shubhranshu Mishra"

name[0::2]

'SuhasuMsr'

In [42]:
name[0::3]

'SbahMh'

In [43]:
name[::2]

'SuhasuMsr'

In [44]:
name[::-2]

'ahi hnrbh'

In [45]:
name[::-1]

'arhsiM uhsnarhbuhS'

In [46]:
# Palindrone
# Eg- malayalam, madam, bob, radar

data = input("input a string: ")
reverse = data[::-1]

print(data, reverse)

input a string: radar
radar radar

In [47]:
# Non palindrome

data = input("input a string: ")
reverse = data[::-1]

print(data, reverse)

input a string: shubhranshu
shubhranshu uhsnarhbuhs

In [48]:
data = input("input a string: ")
reverse = data[::-1]

print(data, reverse)

input a string: 123456
123456 654321

In [51]:
data = input("Input a string: ")
reverse = data[::-1]

if data == reverse:
    print(f"{data} is palindrome")
else:
    print(f"{data} is not palindrome")

Input a string: arunabh
arunabh is not palindrome

In [52]:
data = input("Input a string: ")
reverse = data[::-1]

if data == reverse:
    print(f"{data} is palindrome")
else:
    print(f"{data} is not palindrome")

Input a string: madam
madam is palindrome

## Mutability

It means subject to change or which can be changed

In [53]:
name = "Shubhranshu"

# Repalce S with F

name[0] = "F"

TypeError: 'str' object does not support item assignment

In [55]:
"F" + name[1:]

'Fhubhranshu'

In [56]:
name

'Shubhranshu'

In [59]:
name = "F" + name[1:]

name

'Fhubhranshu'

In [61]:
name = name.replace("u","UUUU")
name

'FhUUUUbhranshUUUU'

In [62]:
name

'FhUUUUbhranshUUUU'

In [63]:
name = "Shubhranshu Mishra"

name = name.replace("Shubhranshu","SHUBHRANSHU")

In [64]:
name

'SHUBHRANSHU Mishra'

In [65]:
name = "Shubhranshu Mishra"

name = name.replace("r","R")

name

'ShubhRanshu MishRa'

In [66]:
name = "Shubhranshu Mishra"

name = name.replace(" ","_")

name

'Shubhranshu_Mishra'

## Length of the string

In [67]:
name

'Shubhranshu_Mishra'

In [68]:
len(name)

18

In [69]:
len("Shubhranshu")

11

In [70]:
len("Shubhranshu        ")

19

In [74]:
name = "Shubhranshu     "
print(len(name))
name = name.replace(" ","")
name
print(len(name))

16
11

string is immutable because we cannot directly assign any value using indexing

In [76]:
name = "Shubhranshu Mishra"
name[4]

'h'

In [79]:
name[11:18]

' Mishra'

In [81]:
name.replace(" ","=")

'Shubhranshu=Mishra'

In [82]:
len(name)

18

In [84]:
name[0] = "F" # This is not allowed

TypeError: 'str' object does not support item assignment

In [87]:
name

'Shubhranshu Mishra'

In [95]:
name[-5:-5:]

''

## Count specific characters in a string

In [97]:
name = "Shubhranshu"

name.count("n")

1

In [100]:
name.count("s") # Case sensitivity

1

In [101]:
name.count("u")

2

## Split operation

In [102]:
name = "Shubhranshu Mishra"
name.split(" ")

['Shubhranshu', 'Mishra']

In [103]:
first_name, sur_name = name.split(" ")

print(f"""
First name: {first_name}
Last name: {sur_name}
""")

First name: Shubhranshu
Last name: Mishra

In [104]:
data = input("Enter date of birth in the format DD/MMM/YYYY: ")

date, month, year = data.split("/")

print(f"The user was born in the month of {month} in the year {year} on date {date}")

Enter date of birth in the format DD/MMM/YYYY: 09/Mar/1995
The user was born in the month of Mar in the year 1995 on date 09

In [105]:
data = input("Enter date of birth in the format DD/MMM/YYYY: ")
data.split("/")

Enter date of birth in the format DD/MMM/YYYY: 09/Mar-1995

['09', 'Mar-1995']

In [106]:
name = "Shubhranshu_Mishra"

name.split("_")

['Shubhranshu', 'Mishra']

In [107]:
name.split("r")

['Shubh', 'anshu_Mish', 'a']

In [108]:
name.split(".")

['Shubhranshu_Mishra']

In [109]:
date = input("Enter the date in DD/MM/YYYY: ")
date.split("/")

Enter the date in DD/MM/YYYY: 17th/March/1995

['17th', 'March', '1995']

In [110]:
A,B,C = date.split("/")

print(A,B,C)

17th March 1995

In [111]:
A = date.split("/")
A

['17th', 'March', '1995']

In [112]:
A[0]

'17th'

In [113]:
A[1]

'March'

In [114]:
len(A)

3

## Lower, Upper, Title case etc.

In [115]:
name = "Shubhranshu Mishra"

name.lower()

'shubhranshu mishra'

In [116]:
name.upper()

'SHUBHRANSHU MISHRA'

In [1]:
name = input("Enter your name: ")

print(f"user input: {name}")
print(f"name in upper case: {name.upper()}")
print(f"name in lower case: {name.lower()}")
print(f"name in title case: {name.title()}")
print(f"name in capitalize case: {name.capitalize()}")
print(f"name in swap case: {name.swapcase()}")

Enter your name: shubhranshu mishra
user input: shubhranshu mishra
name in upper case: SHUBHRANSHU MISHRA
name in lower case: shubhranshu mishra
name in title case: Shubhranshu Mishra
name in capitalize case: Shubhranshu mishra
name in swap case: SHUBHRANSHU MISHRA

In [2]:
name = "TodaY iS tHe BesT day OF my liFE"

print(f"user input: {name}")
print(f"name in upper case: {name.upper()}")
print(f"name in lower case: {name.lower()}")
print(f"name in title case: {name.title()}")
print(f"name in capitalize case: {name.capitalize()}")
print(f"name in swap case: {name.swapcase()}")

user input: TodaY iS tHe BesT day OF my liFE
name in upper case: TODAY IS THE BEST DAY OF MY LIFE
name in lower case: today is the best day of my life
name in title case: Today Is The Best Day Of My Life
name in capitalize case: Today is the best day of my life
name in swap case: tODAy Is ThE bESt DAY of MY LIfe

In [3]:
name = "Shubhranshu Mishra"

"*".join(name)

'S*h*u*b*h*r*a*n*s*h*u* *M*i*s*h*r*a'

In [4]:
name = "Shubhranshu Mishra"

"_".join(name)

'S_h_u_b_h_r_a_n_s_h_u_ _M_i_s_h_r_a'

In [5]:
name = "Shubhranshu Mishra"

"|".join(name)

'S|h|u|b|h|r|a|n|s|h|u| |M|i|s|h|r|a'

In [6]:
name = "Shubhranshu Mishra"

" ".join(name)

'S h u b h r a n s h u   M i s h r a'

In [7]:
name = "Shubhranshu Mishra"

name.replace(" ","|")

'Shubhranshu|Mishra'

In [8]:
"".join(reversed(name))

'arhsiM uhsnarhbuhS'

In [9]:
name[::-1]

'arhsiM uhsnarhbuhS'

## Remove extra spaces front and back of the string

In [10]:
name = "     Shubhranshu            "

name.strip()

'Shubhranshu'

In [11]:
name.lstrip()

'Shubhranshu            '

In [12]:
name.rstrip()

'     Shubhranshu'

In [14]:
name = "========Shubhranshu========"

name.strip("=")

'Shubhranshu'

In [15]:
name = "             Shubhranshu        "

name.replace(" ","")

'Shubhranshu'

## Formatting

In [18]:
name = "Shubhranshu"

name.center(20,"#")

'####Shubhranshu#####'

In [4]:
name = "Shubhranshu"
name.center(10,"#")

'Shubhranshu'

In [5]:
len(name)

11

## Checking string cases

In [2]:
name = "Shubhranshu"

name.isupper()

False

In [3]:
name = "SHUBHRANSHU"

name.isupper()

True

In [4]:
# is upper --> isupper

In [6]:
name = "shubhranshu"

name.islower()

True

In [7]:
name = "Shubhranshu"

name.istitle()

True

In [8]:
name = "Shubhranshu "

name.isspace()

False

In [9]:
name = "   "

name.isspace()

True

In [10]:
name = "Shu   bhran  shu"

name.isspace()

False

In [11]:
name = input("Enter your name: ")

print(f"user input: {name}")

if name.istitle():
    print(f"user has given the correct input")
elif name.isspace():
    print(f"wrong input, please try again")
else:
    print(f"wrong input, we need to autocorrect it")
    name = name.title()
    print(f"correct output: {name}")

Enter your name: Shubhranshu Mishra
user input: Shubhranshu Mishra
user has given the correct input

In [12]:
name = input("Enter your name: ")

print(f"user input: {name}")

if name.istitle():
    print(f"user has given the correct input")
elif name.isspace():
    print(f"wrong input, please try again")
else:
    print(f"wrong input, we need to autocorrect it")
    name = name.title()
    print(f"correct output: {name}")

Enter your name: shubhranshu mishra
user input: shubhranshu mishra
wrong input, we need to autocorrect it
correct output: Shubhranshu Mishra

In [13]:
name = input("Enter your name: ")

print(f"user input: {name}")

if name.istitle():
    print(f"user has given the correct input")
elif name.isspace():
    print(f"wrong input, please try again")
else:
    print(f"wrong input, we need to autocorrect it")
    name = name.title()
    print(f"correct output: {name}")

Enter your name: shuBHRanshu MisHRa
user input: shuBHRanshu MisHRa
wrong input, we need to autocorrect it
correct output: Shubhranshu Mishra

In [15]:
phone_number = "9876543210"

phone_number.isdigit()

True

In [16]:
phone_number = "987sde2346543210"

phone_number.isdigit()

False

In [18]:
phone_number = input("Enter your phone number: ")

if phone_number.isdigit() and len(phone_number) == 10:
    print(f"user input is correct")
else:
    print("invalid input")

Enter your phone number: 9874563210
user input is correct

In [19]:
phone_number = input("Enter your phone number: ")

if phone_number.isdigit() and len(phone_number) == 10:
    print(f"user input is correct")
else:
    print("invalid input")

Enter your phone number: 78615 26216 251
invalid input

In [20]:
phone_number = input("Enter your phone number: ")

if phone_number.isdigit() and len(phone_number) == 10:
    print(f"user input is correct")
else:
    print("invalid input")

Enter your phone number: 78945612378946113
invalid input

In [21]:
phone_number = input("Enter your phone number: ")

if phone_number.isdigit() and len(phone_number) == 10:
    print(f"user input is correct")
else:
    print("invalid input")

Enter your phone number: 0000000000
user input is correct

In [23]:
phone_number = input("Enter your phone number: ")

if phone_number.isdigit() and len(phone_number) == 10 and phone_number != "0000000000":
    print(f"user input is correct")
else:
    print("invalid input")

Enter your phone number: 0000000000
invalid input

In [25]:
phone_number.startswith("0")

True

In [26]:
phone_number.endswith("0")

True

In [31]:
phone_number = "+911234567890"

phone_number.startswith("+91")

True

In [32]:
phone_number[1:]

'911234567890'

In [34]:
phone_number[1:].isdigit()

True

In [35]:
len(phone_number) == 13

True

In [36]:
phone_number = "+910000000000"

phone_number.count("0")

10

In [37]:
phone_number = input("Enter your Indian phone number: ")

if phone_number.startswith("+91") and phone_number[1:].isdigit() and len(phone_number) == 13:
    print(f"user input is correct")
else:
    print("invalid input")

Enter your Indian phone number: +9125165102351561556
invalid input

In [38]:
phone_number = input("Enter your Indian phone number: ")

if phone_number.startswith("+91") and phone_number[1:].isdigit() and len(phone_number) == 13:
    print(f"user input is correct")
else:
    print("invalid input")

Enter your Indian phone number: +11265
invalid input

In [39]:
phone_number = input("Enter your Indian phone number: ")

if phone_number.startswith("+91") and phone_number[1:].isdigit() and len(phone_number) == 13:
    print(f"user input is correct")
else:
    print("invalid input")

Enter your Indian phone number: +919876543210
user input is correct

In [40]:
pan_number = "ABCDE1234F"
pan_number.isalnum() # check for alpha numeric case

True

In [42]:
pan_number = "shubhranshu"
pan_number.isalnum() # as alnum gives True for either alphabets or numbers or both

True

In [44]:
pan_number = "Shubhranshu Mishra"
pan_number.isalnum() # as space is neither alphabet or number

False