## Lists

Lists are mutable, unlike strings.
List --> []

In [1]:
my_list = [1,2,3]

In [2]:
my_list = ["A string", 23, 100, 56.25, True]

In [3]:
len(my_list)

5

In [4]:
A = [1,2,3,4,5]

A[0]

1

In [5]:
type(A)

list

In [6]:
A = [1,2,3,4,5, "Shubhranshu", 1+2j, False]

In [7]:
for element in A:
    print(element)

1
2
3
4
5
Shubhranshu
(1+2j)
False

In [8]:
len(A)

8

In [9]:
for i in range(len(A)):
    print(A[i])

1
2
3
4
5
Shubhranshu
(1+2j)
False

In [10]:
for i in range(len(A)):
    print(f"i = {i}, value = {A[i]}, datatype = {type(A[i])}")

i = 0, value = 1, datatype = <class 'int'>
i = 1, value = 2, datatype = <class 'int'>
i = 2, value = 3, datatype = <class 'int'>
i = 3, value = 4, datatype = <class 'int'>
i = 4, value = 5, datatype = <class 'int'>
i = 5, value = Shubhranshu, datatype = <class 'str'>
i = 6, value = (1+2j), datatype = <class 'complex'>
i = 7, value = False, datatype = <class 'bool'>

Q. What is the difference between list of python and array of C or C++?

Ans. In array we will element of only one dataype in python list all elements can be of different or same dataype

## Indexing and Slicing

In [11]:
# Similar to string
# 0,1,2,3........

In [12]:
my_list = ["one", 'two', 'three', 4, 5, True]

In [13]:
my_list[0]

'one'

In [14]:
my_list[1:]

['two', 'three', 4, 5, True]

In [15]:
my_list[:3]

['one', 'two', 'three']

In [16]:
my_list[-3]

4

In [17]:
A

[1, 2, 3, 4, 5, 'Shubhranshu', (1+2j), False]

In [18]:
A[3:]

[4, 5, 'Shubhranshu', (1+2j), False]

In [19]:
A[::2] #start, end, step

[1, 3, 5, (1+2j)]

In [20]:
for i in range(0,8,2):
    print(i,A[i])

0 1
2 3
4 5
6 (1+2j)

In [21]:
A

[1, 2, 3, 4, 5, 'Shubhranshu', (1+2j), False]

In [22]:
A[::-1]

[False, (1+2j), 'Shubhranshu', 5, 4, 3, 2, 1]

In [23]:
A[::-2]

[False, 'Shubhranshu', 4, 2]

In [24]:
for i in range(0,len(A),2):
    print(i, A[i])

0 1
2 3
4 5
6 (1+2j)

In [25]:
for i in range(0,len(A)):
    print(i, A[i])

0 1
1 2
2 3
3 4
4 5
5 Shubhranshu
6 (1+2j)
7 False

In [26]:
for i in range(-1,-len(A)-1,-1):
    print(i, A[i])

-1 False
-2 (1+2j)
-3 Shubhranshu
-4 5
-5 4
-6 3
-7 2
-8 1

In [27]:
A[::2]

[1, 3, 5, (1+2j)]

In [28]:
A[1::2]

[2, 4, 'Shubhranshu', False]

In [29]:
A

[1, 2, 3, 4, 5, 'Shubhranshu', (1+2j), False]

In [30]:
for i in [1,5,6,7]:
    print(i,A[i])

1 2
5 Shubhranshu
6 (1+2j)
7 False

## Updating list element at specific index

In [31]:
my_list

['one', 'two', 'three', 4, 5, True]

In [32]:
my_list[5] = 6
print("New value at index 5: ", my_list[5])

New value at index 5:  6

In [33]:
my_list

['one', 'two', 'three', 4, 5, 6]

In [34]:
# we can also use +

my_list + ["new item, 9"]

['one', 'two', 'three', 4, 5, 6, 'new item, 9']

This doesn't change the original list

In [44]:
my_list

['one', 'two', 'three', 4, 5, 6, 'new item, 9']

In [45]:
# We have to reassign

my_list = my_list + ["new item, 9"]

In [46]:
my_list

['one', 'two', 'three', 4, 5, 6, 'new item, 9', 'new item, 9']

In [47]:
A

[1, 2, 3, 4, 5, 'Shubhranshu', (1+2j), False, 78, 90.22]

In [48]:
A[4]

5

In [49]:
A[-2]

78

In [50]:
B = [78,90.22]

A + B

[1, 2, 3, 4, 5, 'Shubhranshu', (1+2j), False, 78, 90.22, 78, 90.22]

In [51]:
A = A + B

In [52]:
A- B

TypeError: unsupported operand type(s) for -: 'list' and 'list'

## Repetition of list

In [53]:
my_list

['one', 'two', 'three', 4, 5, 6, 'new item, 9', 'new item, 9']

In [54]:
my_list * 2

['one',
 'two',
 'three',
 4,
 5,
 6,
 'new item, 9',
 'new item, 9',
 'one',
 'two',
 'three',
 4,
 5,
 6,
 'new item, 9',
 'new item, 9']

In [55]:
my_list

['one', 'two', 'three', 4, 5, 6, 'new item, 9', 'new item, 9']

In [56]:
A * 2

[1,
 2,
 3,
 4,
 5,
 'Shubhranshu',
 (1+2j),
 False,
 78,
 90.22,
 78,
 90.22,
 1,
 2,
 3,
 4,
 5,
 'Shubhranshu',
 (1+2j),
 False,
 78,
 90.22,
 78,
 90.22]

In [57]:
A/2

TypeError: unsupported operand type(s) for /: 'list' and 'int'

In [58]:
A * A

TypeError: can't multiply sequence by non-int of type 'list'

In [59]:
A + A

[1,
 2,
 3,
 4,
 5,
 'Shubhranshu',
 (1+2j),
 False,
 78,
 90.22,
 78,
 90.22,
 1,
 2,
 3,
 4,
 5,
 'Shubhranshu',
 (1+2j),
 False,
 78,
 90.22,
 78,
 90.22]

In [60]:
A

[1, 2, 3, 4, 5, 'Shubhranshu', (1+2j), False, 78, 90.22, 78, 90.22]

In [61]:
A + A + A

[1,
 2,
 3,
 4,
 5,
 'Shubhranshu',
 (1+2j),
 False,
 78,
 90.22,
 78,
 90.22,
 1,
 2,
 3,
 4,
 5,
 'Shubhranshu',
 (1+2j),
 False,
 78,
 90.22,
 78,
 90.22,
 1,
 2,
 3,
 4,
 5,
 'Shubhranshu',
 (1+2j),
 False,
 78,
 90.22,
 78,
 90.22]

In [62]:
A * (-1)

[]

In [63]:
A * (-2)

[]

In [64]:
A + 2 * A

[1,
 2,
 3,
 4,
 5,
 'Shubhranshu',
 (1+2j),
 False,
 78,
 90.22,
 78,
 90.22,
 1,
 2,
 3,
 4,
 5,
 'Shubhranshu',
 (1+2j),
 False,
 78,
 90.22,
 78,
 90.22,
 1,
 2,
 3,
 4,
 5,
 'Shubhranshu',
 (1+2j),
 False,
 78,
 90.22,
 78,
 90.22]

In [65]:
A * 0

[]

## Basic list methods

In [11]:
l = [45, 6,7,5,"Shubhranshu", True, False, 35,62.56]

len(l)

9

In [67]:
len(A)

12

In [68]:
my_list = [] # Not Recommended

len(my_list)

0

In [69]:
my_list = list() # Recommended

len(my_list)

0

In [75]:
list_of_item_to_purchase = list() # Empty list

N = int(input("Number of item you want to purchase: "))
for i in range(N):
    user_input = input("Enter the items you want to purchase: ")
    list_of_item_to_purchase = list_of_item_to_purchase + [user_input]
    
print(list_of_item_to_purchase)

Number of item you want to purchase: 3
Enter the items you want to purchase: pen
Enter the items you want to purchase: bulb
Enter the items you want to purchase: knife
['pen', 'bulb', 'knife']

In [71]:
list_of_item_to_purchase

[]

In [76]:
list_of_item_to_purchase = list() 

N = int(input("Number of item you want to purchase: "))
i = 0
while i < N:
    user_input = input("Enter the items you want to purchase: ")
    list_of_item_to_purchase = list_of_item_to_purchase + [user_input]
    i = i + 1

print(list_of_item_to_purchase)

Number of item you want to purchase: 4
Enter the items you want to purchase: bulb
Enter the items you want to purchase: eraser
Enter the items you want to purchase: pen
Enter the items you want to purchase: shoes
['bulb', 'eraser', 'pen', 'shoes']

In [77]:
[1,2] + [34]

[1, 2, 34]

In [4]:
list_of_item_to_purchase = list() 

N = int(input("Number of item you want to purchase: "))
i = 0
while i < N:
    user_input = input("Enter the items you want to purchase: ")
    list_of_item_to_purchase = list_of_item_to_purchase + [user_input]
    i = i + 1
    print(f"current i: {i} => Current list: {list_of_item_to_purchase}")

print(list_of_item_to_purchase)

Number of item you want to purchase: 3
Enter the items you want to purchase: cloth
current i: 1 => Current list: ['cloth']
Enter the items you want to purchase: pen
current i: 2 => Current list: ['cloth', 'pen']
Enter the items you want to purchase: pencil
current i: 3 => Current list: ['cloth', 'pen', 'pencil']
['cloth', 'pen', 'pencil']

In [5]:
len(list_of_item_to_purchase)

3

## Check membership in a list

In [12]:
l

[45, 6, 7, 5, 'Shubhranshu', True, False, 35, 62.56]

In [13]:
5 in l # Check if 5 exists in list l

True

In [14]:
"Shubhranshu" in l

True

In [15]:
"Pen" in l

False

In [16]:
if "Phone cover" in list_of_item_to_purchase:
    print("YES")
else:
    print("NO, adding into the list")
    list_of_item_to_purchase = list_of_item_to_purchase + ["Phone cover"]

YES

In [17]:
list_of_item_to_purchase

['cloth', 'pen', 'pencil', 'Phone cover']

In [18]:
if "Phone cover" in list_of_item_to_purchase:
    print("YES")
else:
    print("NO, adding into the list")
    list_of_item_to_purchase = list_of_item_to_purchase + ["Phone cover"]

YES

In [23]:
new_item = input("Anything else to add: ")

if new_item not in list_of_item_to_purchase:
    print("NO, adding into the list")
    list_of_item_to_purchase = list_of_item_to_purchase + [new_item]
list_of_item_to_purchase

Anything else to add: milk
NO, adding into the list

['cloth', 'pen', 'pencil', 'Phone cover', 'Phone cover', 'milk']

In [24]:
list_of_item_to_purchase

['cloth', 'pen', 'pencil', 'Phone cover', 'Phone cover', 'milk']

In [25]:
len(list_of_item_to_purchase)

6

## max(), min()

In [26]:
list1 = ["shubhranshu","datascience","big-data","analytics"]
list2 = [5,6,2,9,5,0]

print(max(list1))
print(max(list2))

shubhranshu
9

In [27]:
example = [1,45,999,10]

max(example)

999

In [28]:
string_example = ["b", "a", "d", "c"]

max(string_example)

'd'

In [29]:
string_example = ["b", "a", "d", "c", "D"] # Refer ASCII value

max(string_example)

'd'

In [35]:
string_example = ["b", "a", "d", "c", "D", 1,2,3]

max(string_example)

TypeError: '>' not supported between instances of 'int' and 'str'

In [36]:
example = [1,45,999,10, 54.85]

max(example)

999

In [37]:
example = [1,45,999,10, 1+6j]

max(example)

TypeError: '>' not supported between instances of 'complex' and 'int'

In [38]:
example = [1,45,999,1000, -5]

max(example)

1000

In [39]:
example = [1,45,999,1000, -5]

min(example)

-5

In [40]:
example = [1,45,999,1000, -5, 200*20]

max(example)

4000

In [1]:
string_example = ["bhaveen", "abhishek", "dew", "chalie", "Doctor"]

max(string_example)

'dew'

In [2]:
string_example = ["bhaveen", "abhishek", "dew", "dj", "chalie", "Doctor"]

min(string_example)

'Doctor'

In [3]:
string_example = ["bhaveen", "abhishek", "dew", "dj", "chalie"]

min(string_example)

'abhishek'

In [4]:
# Print the name with highest number of character

max_len = 0
result = ""

for example in string_example:
    print(example, len(example))
    if len(example) > max_len:
        max_len = len(example)
        result = example
        
print(f"RESULT: maximum length: {max_len} name: {result}")

bhaveen 7
abhishek 8
dew 3
dj 2
chalie 6
RESULT: maximum length: 8 name: abhishek

In [5]:
type(result)

str

In [6]:
list1 = ["iNeuron","Datascience","Big-data","Analytics"]
list2 = [5,6,2,9,7,5,0]
print(min(list1))
print(min(list2))

Analytics
0

## Append

In [7]:
l = [1,2,3]

We can use append method to permanently add an item to the end of the list

In [8]:
l.append("append me")

In [9]:
l

[1, 2, 3, 'append me']

In [10]:
A = [1,2,77]

A = A + ["new element"]

A

[1, 2, 77, 'new element']

In [11]:
A = [1,2,77]

A.append("new_element")

A

[1, 2, 77, 'new_element']

In [12]:
A.append("Shubhranshu")

In [13]:
A

[1, 2, 77, 'new_element', 'Shubhranshu']

In [14]:
A.append("Mishra", "Data")

TypeError: list.append() takes exactly one argument (2 given)

In [15]:
A.append(["Mishra","Data"])

In [16]:
A

[1, 2, 77, 'new_element', 'Shubhranshu', ['Mishra', 'Data']]

In [17]:
A = A + ["min"]

In [18]:
A

[1, 2, 77, 'new_element', 'Shubhranshu', ['Mishra', 'Data'], 'min']

In [19]:
list_of_item_to_purchase = list()

N = int(input("No of item you want to purchase: "))
for i in range(N):
  user_input = input("Enter the item that you want to purchase: ")
  list_of_item_to_purchase.append(user_input) # RECOMMENDED

print(list_of_item_to_purchase)

No of item you want to purchase: 3
Enter the item that you want to purchase: pen
Enter the item that you want to purchase: pencil
Enter the item that you want to purchase: pot
['pen', 'pencil', 'pot']

## pop()

Use pop to "pop off" an item from the list. By default pop takes off the last index, but we can also specify which index to pop off.

In [20]:
A = [1,4,5,7,8,"Shubhranshu"]

A.pop()

A

[1, 4, 5, 7, 8]

In [21]:
A = [1,4,5,7,8,"Shubhranshu"]

A.pop(0)

A

[4, 5, 7, 8, 'Shubhranshu']

In [22]:
A

[4, 5, 7, 8, 'Shubhranshu']

In [24]:
removed_item = A.pop(3)

removed_item

8

In [25]:
A

[4, 5, 7, 'Shubhranshu']

In [26]:
# Print odd out

A = [1,34,56,78,99]

for index in range(len(A)):
    num = A[index]
    if num % 2 != 0: # Odd condition
        print(f"odd num: {num}")
    else:
        print(f"even num: {num}")

odd num: 1
even num: 34
even num: 56
even num: 78
odd num: 99

In [27]:
l

[1, 2, 3, 'append me']

In [28]:
popped_item = l.pop()

In [29]:
popped_item

'append me'

In [31]:
l # Remaining

[1, 2, 3]

Note:- lists indexing will return an error if there is no element at that index. For example:

In [32]:
A

[1, 34, 56, 78, 99]

In [33]:
A[1000]

IndexError: list index out of range

In [35]:
A = [65,89,2,134,657,3,21,45,98]

sorted(A)

[2, 3, 21, 45, 65, 89, 98, 134, 657]

In [38]:
A = sorted(A)
A

[2, 3, 21, 45, 65, 89, 98, 134, 657]

In [39]:
A[::-1]

[657, 134, 98, 89, 65, 45, 21, 3, 2]

In [40]:
A = [65,89,2,134,657,3,21,45,98]
A

[65, 89, 2, 134, 657, 3, 21, 45, 98]

In [41]:
A.sort() # Permanent change

In [42]:
A

[2, 3, 21, 45, 65, 89, 98, 134, 657]

In [43]:
A = [65,89,2,134,657,3,21,45,98]
A

[65, 89, 2, 134, 657, 3, 21, 45, 98]

In [44]:
A.sort(reverse=True) # Directly get the answer in decending order

A

[657, 134, 98, 89, 65, 45, 21, 3, 2]

In [45]:
A = [65,89,2,134,657,3,21,45,98]
A

[65, 89, 2, 134, 657, 3, 21, 45, 98]

In [46]:
A.reverse() # inplace solution

In [47]:
A

[98, 45, 21, 3, 657, 134, 2, 89, 65]

In [48]:
A = [1, 23, 45, "SUnny", "iNeuron"]

A.reverse()

A

['iNeuron', 'SUnny', 45, 23, 1]

In [49]:
new_list = ['a','e','x','b','c']

new_list.reverse()

new_list

['c', 'b', 'x', 'e', 'a']

In [50]:
new_list.sort()

In [51]:
new_list

['a', 'b', 'c', 'e', 'x']