In [1]:
TEN = 10

In [2]:
ten = 20

In [3]:
print(TEN)

10

In [4]:
TEN

10

In [5]:
print(Ten) # VAriable case sensitivity

NameError: name 'Ten' is not defined

## Reserved Words

In [6]:
print("Hi there")

Hi there

In [7]:
print = "Hi There"
type(print) # We have used reseve word as variable. Not allowed!

str

In [8]:
print("Hi there") # Mind it

TypeError: 'str' object is not callable

In [9]:
print = 12 # as a variable
type(print)

int

In [10]:
print("Hi")

TypeError: 'int' object is not callable

In [1]:
# in built function of print is replaced by our variable. Restart kernel to fix it.

In [2]:
print("hello")

hello

In [4]:
# we can also use del 
print = 12

In [5]:
del print # delete the variable print

In [6]:
print("Hello")

Hello

In [7]:
type(print)

builtin_function_or_method

In [8]:
print("All good Shubhranshu")

All good Shubhranshu

## Multi assignment of variables

In [9]:
a, b, c, yes = 10, 20.2, "Shubhranshu", True

In [10]:
type(a)

int

In [13]:
type(b)

float

In [14]:
type(c)

str

In [15]:
type(yes)

bool

In [17]:
print(type(a))
print(type(b))
print(type(c))
print(type(yes))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [18]:
a, b, c = 10, 10, 10

In [19]:
a, A, c, C = 10, 20.2, "Shubhranshu", True

In [20]:
print(a, A, c, C)

10 20.2 Shubhranshu True

In [21]:
a, b, c # Mind the value of c

(10, 10, 'Shubhranshu')

In [22]:
a = b = c = 10

In [24]:
a, b, c

(10, 10, 10)

In [25]:
firstname, surname = "Shubhranshu", "Mishra"

In [27]:
print(f"{firstname}.{surname}@gmail.com")

Shubhranshu.Mishra@gmail.com

In [32]:
name, place, year_of_birth, height = "Shubhranshu", "Ranchi", 1995, 177

In [35]:
print(f"""
My name is: {name}
I live at: {place}
I was born in: {year_of_birth}
My height is: {height}""")

My name is: Shubhranshu
I live at: Ranchi
I was born in: 1995
My height is: 177

In [36]:
# role of f string
print("""
My name is: {name}
I live at: {place}
I was born in: {year_of_birth}
My height is: {height}""")

My name is: {name}
I live at: {place}
I was born in: {year_of_birth}
My height is: {height}

## User input

In [39]:
name = input("Enter your name: ")
print(f"Hello: {name}")

Enter your name: Shubhranshu Mishra
Hello: Shubhranshu Mishra

In [41]:
A = input("Enter the value of A:")
B = input("Enter the value of B:")

print(f"Sum of A and B is: {A + B}")

Enter the value of A:12
Enter the value of B:24
Sum of A and B is: 1224

In [43]:
print("Sum of A and B is: {A + B}")

Sum of A and B is: {A + B}

In [45]:
A = input("Enter the value of A:")
B = input("Enter the value of B:")

print(type(A), type(B))

Enter the value of A:12
Enter the value of B:24
<class 'str'> <class 'str'>

In [46]:
# Input always gives string. We have to convert it to desired one, in this case to int

In [49]:
# Calculation of age of user

name = input("Name: ")
place = input("place: ")
year_of_birth = input("Year of birth: ")

age = 2022 - year_of_birth

print(f"""
My name is: {name}
I live at: {place}
{name} is {age} years old""")

Name: Shubhranshu Mishra
place: Ranchi
Year of birth: 1995

TypeError: unsupported operand type(s) for -: 'int' and 'str'

In [51]:
# Calculation of age of user

name = input("Name: ")
place = input("place: ")
year_of_birth = int(input("Year of birth: ")) # We have converted it to int, as input always gives string

age = 2022 - year_of_birth

print(f"""
My name is: {name}
I live at: {place}
{name} is {age} years old""")

Name: Shubhranshu Mishra
place: Ranchi
Year of birth: 1995

My name is: Shubhranshu Mishra
I live at: Ranchi
Shubhranshu Mishra is 27 years old

In [52]:
# Calculation of age of user

name = input("Name: ")
place = input("place: ")
year_of_birth = int(input("Year of birth: ")) 
current_year = int(input("Current year: "))

age = 2022 - year_of_birth

print(f"""
My name is: {name}
I live at: {place}
{name} is {age} years old""")

Name: Shubhranshu Mishra
place: Ranchi
Year of birth: 1995
Current year: 2022

My name is: Shubhranshu Mishra
I live at: Ranchi
Shubhranshu Mishra is 27 years old

## Type conversion

In [47]:
A = int(input("Enter the value of A:"))
B = int(input("Enter the value of B:"))

print(type(A), type(B))

Enter the value of A:25
Enter the value of B:24
<class 'int'> <class 'int'>

In [48]:
A = int(input("Enter the value of A:"))
B = int(input("Enter the value of B:"))

print(f"Sum of A and B is: {A + B}")

Enter the value of A:55
Enter the value of B:254
Sum of A and B is: 309

In [53]:
int A

SyntaxError: invalid syntax (2077884358.py, line 1)

In [54]:
A = float(input("Enter the value of A:"))
B = float(input("Enter the value of B:"))

print(f"Sum of A and B is: {A + B}")

Enter the value of A:5215.5151
Enter the value of B:145.101154545
Sum of A and B is: 5360.616254545

In [55]:
A = float(input("Enter the value of A:"))
B = int(input("Enter the value of B:"))

print(f"Sum of A and B is: {A + B}")

Enter the value of A:10.2
Enter the value of B:10
Sum of A and B is: 20.2

In [56]:
A = float(input("Enter the value of A:"))
B = int(input("Enter the value of B:")) #10.2 if float not int

print(f"Sum of A and B is: {A + B}")

Enter the value of A:10.2
Enter the value of B:10.2

ValueError: invalid literal for int() with base 10: '10.2'

In [59]:
# String to integer
A = "50"
print(f"data type before: {type(A)}, value of A: {A}")
A = int(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A: 50
data type after: <class 'int'>, value of A: 50

In [60]:
# String to integer
A = "50.22"
print(f"data type before: {type(A)}, value of A: {A}")
A = int(A) # Trying to convert float to integer
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A: 50.22

ValueError: invalid literal for int() with base 10: '50.22'

In [62]:
# float to integer
A = 50.22
print(f"data type before: {type(A)}, value of A: {A}")
A = int(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'float'>, value of A: 50.22
data type after: <class 'int'>, value of A: 50

In [63]:
# integer to float
A = 50
print(f"data type before: {type(A)}, value of A: {A}")
A = float(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'int'>, value of A: 50
data type after: <class 'float'>, value of A: 50.0

In [64]:
# integer to boolean
A = 10
print(f"data type before: {type(A)}, value of A: {A}")
A = bool(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'int'>, value of A: 10
data type after: <class 'bool'>, value of A: True

In [68]:
# In binary- true is 1, false is 0

In [69]:
# integer to boolean
A = 0
print(f"data type before: {type(A)}, value of A: {A}")
A = bool(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'int'>, value of A: 0
data type after: <class 'bool'>, value of A: False

In [70]:
A = 1
print(f"data type before: {type(A)}, value of A: {A}")
A = bool(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'int'>, value of A: 1
data type after: <class 'bool'>, value of A: True

In [71]:
# Non zero number or string will always give TRUE in bool
# Empty string and Zero will give FALSE

In [74]:
A = -5
print(f"data type before: {type(A)}, value of A: {A}")
A = bool(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'int'>, value of A: -5
data type after: <class 'bool'>, value of A: True

In [75]:
A = "True"
print(f"data type before: {type(A)}, value of A: {A}")
A = bool(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A: True
data type after: <class 'bool'>, value of A: True

In [76]:
A = "False"
print(f"data type before: {type(A)}, value of A: {A}")
A = bool(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A: False
data type after: <class 'bool'>, value of A: True

In [77]:
# empty str to bool
A = ""
print(f"data type before: {type(A)}, value of A: {A}")
A = bool(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A:
data type after: <class 'bool'>, value of A: False

In [78]:
# empty str to int
A = ""
print(f"data type before: {type(A)}, value of A: {A}")
A = int(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A:

ValueError: invalid literal for int() with base 10: ''

## Memory block

In [79]:
a = 22
b = 25
c = 48

In [81]:
id(a) #Memory address

2364317985744

In [82]:
id(b)

2364317985840

In [83]:
id(c)

2364317986576

In [84]:
c = 22+ b

In [86]:
id(c)

2364317986544

In [87]:
a = 22
id(a)

2364317985744

In [89]:
a = 99
id(a)

2364318176688

In [90]:
# Memory is assigned to value not variable name

In [91]:
a = 22
b = 25
c = 48

print(id(a), id(b), id(c))

2364317985744 2364317985840 2364317986576

In [92]:
a = "Shubhranshu"
b = 45
c = "Shubhranshu"

print(id(a), id(b), id(c))

2362274328176 2364317986480 2362274328176

In [93]:
a = 22
b = 45
c = 22.0
d = 45

print(id(a), id(b), id(c), id(d))

2364317985744 2364317986480 2362272188688 2364317986480