## If elif

Online food orders- Zomato App, Swiggy, Uber eats

- if order more than Rs 499
    - Discount = 20%
- if order more than Rs 999
    - Discount = 30%

In [1]:
total_amount = 90 + 100 + 100 + 1000

print(f"cart total: {total_amount}")

if total_amount > 999:
    price_after_discount = total_amount * 70/100
    print(f"Amount to be paid: {price_after_discount}")
elif total_amount <=999 and total_amount > 499:
    price_after_dicount = total_amount * 80/100
    print(f"Amount to be paid: {price_after_discount}")
else:
    print(f"Amount to be paid: {total_amount}")

cart total: 1290
Amount to be paid: 903.0

In [2]:
total_amount = 90 + 100 

print(f"cart total: {total_amount}")

if total_amount > 999:
    price_after_discount = total_amount * 70/100
    print(f"Amount to be paid: {price_after_discount}")
elif total_amount <=999 and total_amount > 499:
    price_after_dicount = total_amount * 80/100
    print(f"Amount to be paid: {price_after_discount}")
else:
    print(f"Amount to be paid: {total_amount}")

cart total: 190
Amount to be paid: 190

In [3]:
total_amount = 90 + 100 + 100 + 500

print(f"cart total: {total_amount}")

if total_amount > 999:
    price_after_discount = total_amount * 70/100
    print(f"Amount to be paid: {price_after_discount}")
elif total_amount <=999 and total_amount > 499:
    price_after_dicount = total_amount * 80/100
    print(f"Amount to be paid: {price_after_discount}")
else:
    print(f"Amount to be paid: {total_amount}")

cart total: 790
Amount to be paid: 903.0

Online food orders- Zomato App, Swiggy, Uber eats

- if order more than Rs 499
    - Discount = 20%
- if order more than Rs 999
    - Discount = 30%
- if order more than Rs 1499
    - Discount = 40%

In [5]:
total_amount = 90 + 100 + 100 + 1500

print(f"cart total: {total_amount}")
if total_amount > 1499:
    price_after_discount = total_amount * 60/100
    print(f"Amount to be paid: {price_after_discount}")
elif total_amount > 999:
    price_after_discount = total_amount * 70/100
    print(f"Amount to be paid: {price_after_discount}")
elif total_amount <=999 and total_amount > 499:
    price_after_dicount = total_amount * 80/100
    print(f"Amount to be paid: {price_after_discount}")
else:
    print(f"Amount to be paid: {total_amount}")

cart total: 1790
Amount to be paid: 1074.0

## Nested if else

In [6]:
# Print if the number is negative or positive

val = float(input("Enter a number: "))

if val >= 0:
    if val == 0:
        print("Its zero!")
    else:
        print("Its a positive number")
else:
    print("Its a negative number")

Enter a number: 0
Its zero!

In [7]:
val = float(input("Enter a number: "))

if val >= 0:
    if val == 0:
        print("Its zero!")
    else:
        print("Its a positive number")
else:
    print("Its a negative number")

Enter a number: -1
Its a negative number

In [8]:
val = float(input("Enter a number: "))

if val >= 0:
    if val == 0:
        print("Its zero!")
    else:
        print("Its a positive number")
else:
    print("Its a negative number")

Enter a number: 6598
Its a positive number

## Single line if else 
(Not recommended for coding in projects or production, but useful in competitive programming)

In [11]:
# Print yes if the number is greater than 99

val = float(input("Enter a number: "))

if val > 99: print("yes") 
else: print("No")

Enter a number: 1655
yes

In [12]:
# Proper way, More readable and clean
val = float(input("Enter a number: "))

if val > 99: 
    print("yes") 
else: print("No")

Enter a number: 6
No

In [13]:
val = float(input("Enter a number: "))
print("Yes" if val > 99 else "No")

Enter a number: 1
No

In [15]:
val = float(input("Enter a number: "))
print("Yes" if val > 99 else "No")

Enter a number: 102
Yes

## Loops
1. while loop
2. for loop
3. loop control
    - break
    - continue
    - pass
4. nested loop

In [16]:
# UPSC, Govt exams, Board exams- repetive attempts
# While I do not cross the cutoff, i will keep on giving my exams
# while CONDITION is True: print()

In [17]:
cutoff = 400
scores = [100, 200, 300, 399, 500]

# I will keep on attempting until I succeed
year = 0 # Index in Python starts with 0

while scores[year] < cutoff:
    print(f"Your score is: {scores[year]}, cutoff: {cutoff}")
    print("I will attempt next year")
    year = year + 1

Your score is: 100, cutoff: 400
I will attempt next year
Your score is: 200, cutoff: 400
I will attempt next year
Your score is: 300, cutoff: 400
I will attempt next year
Your score is: 399, cutoff: 400
I will attempt next year

## Infinite loop
if the CONDITION is always TRUE, then loop will keep on running......

In [18]:
year = 4
scores[year]

500

In [28]:
# Child is learning to count 10 ruppees of note

notes = 10
i = 1 # 1st note

while i <= notes:
    print(f"currently notes in hand: {i}")
    print(f"Current sum: {i * 10}")
    i = i +1

currently notes in hand: 1
Current sum: 10
currently notes in hand: 2
Current sum: 20
currently notes in hand: 3
Current sum: 30
currently notes in hand: 4
Current sum: 40
currently notes in hand: 5
Current sum: 50
currently notes in hand: 6
Current sum: 60
currently notes in hand: 7
Current sum: 70
currently notes in hand: 8
Current sum: 80
currently notes in hand: 9
Current sum: 90
currently notes in hand: 10
Current sum: 100

In [5]:
# Train journey
stations = ["Station 01", "Station 02", "Station 03", "Station 04", "Station 05"]

current_station = 0
destination_station = "Station 04"

while stations[current_station] != destination_station:
    print(f"Current station is: {stations[current_station]}")
    print(f"As my destination is: {destination_station}")
    print(f"Continue the journey")
    current_station = current_station + 1
    print(f"Next station is: {stations[current_station]}")

Current station is: Station 01
As my destination is: Station 04
Continue the journey
Next station is: Station 02
Current station is: Station 02
As my destination is: Station 04
Continue the journey
Next station is: Station 03
Current station is: Station 03
As my destination is: Station 04
Continue the journey
Next station is: Station 04

## While else:

In [7]:
stations = ["Station 01", "Station 02", "Station 03", "Station 04", "Station 05"]

current_station = 0
destination_station = "Station 04"

while stations[current_station] != destination_station:
    print(f"Current station is: {stations[current_station]}")
    print(f"As my destination is: {destination_station}")
    print(f"Continue the journey")
    current_station = current_station + 1
    print(f"Next station is: {stations[current_station]}")
    print("-----")
else:
    print(f"I have arrived at my destination: {stations[current_station]}")

Current station is: Station 01
As my destination is: Station 04
Continue the journey
Next station is: Station 02
-----
Current station is: Station 02
As my destination is: Station 04
Continue the journey
Next station is: Station 03
-----
Current station is: Station 03
As my destination is: Station 04
Continue the journey
Next station is: Station 04
-----
I have arrived at my destination: Station 04

In [8]:
"""
while CONDITION is True:
    statement
else:
    statement

"""

'\nwhile CONDITION is True:\n    statement\nelse:\n    statement\n\n'

In [9]:
# Child is learning to count 10 ruppees of note

notes = 5
i = 1 # 1st note

while i <= notes:
    print(f"CONDITION: {i <= notes}")
    print(f"currently notes in hand: {i}")
    print(f"Current sum: {i * 10}")
    i = i +1
    print("---------")
else:
    print(f"CONDITION: {i <= notes}")
    print("No more note left")

CONDITION: True
currently notes in hand: 1
Current sum: 10
---------
CONDITION: True
currently notes in hand: 2
Current sum: 20
---------
CONDITION: True
currently notes in hand: 3
Current sum: 30
---------
CONDITION: True
currently notes in hand: 4
Current sum: 40
---------
CONDITION: True
currently notes in hand: 5
Current sum: 50
---------
CONDITION: False
No more note left

## for loop

In [13]:
for i in range(0,10): # 10 here is out of bound
    print(i)

0
1
2
3
4
5
6
7
8
9

In [14]:
for i in range(0,10):
    print(f"10 X {i} = {10 * i}")

10 X 0 = 0
10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90

In [16]:
for i in range(0,10):
    print(f"10 X {i+1} = {10 * (i+1)}")

10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90
10 X 10 = 100

In [18]:
for i in range(0,11): # 11 is out of bound
    print(f"10 X {i} = {10 * (i)}")

10 X 0 = 0
10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90
10 X 10 = 100

In [19]:
"Shubhranshu" * 10

'ShubhranshuShubhranshuShubhranshuShubhranshuShubhranshuShubhranshuShubhranshuShubhranshuShubhranshuShubhranshu'

In [20]:
"Shubhranshu" + "Shubhranshu"

'ShubhranshuShubhranshu'

In [21]:
"*" * 10

'**********'

In [23]:
for i in range(1,11):
    print("*" * i)

*
**
***
****
*****
******
*******
********
*********
**********

In [24]:
for anyval in range(1,11): # it is not compulsory to take i
    print("*" * anyval)

*
**
***
****
*****
******
*******
********
*********
**********

In [25]:
cost_of_items = [100, 200, 129, 456]
#                 0    1    2    3

total_sum = 0

for i in range(0, 4):  # 0,1,2,3
    print(f"{total_sum} = {total_sum} + {cost_of_items[i]}")
    total_sum = total_sum + cost_of_items[i]
    print(f"after adding total sum = {total_sum}")
    print("---------")
print(f"Total amount to be paid: {total_sum}")

0 = 0 + 100
after adding total sum = 100
---------
100 = 100 + 200
after adding total sum = 300
---------
300 = 300 + 129
after adding total sum = 429
---------
429 = 429 + 456
after adding total sum = 885
---------
Total amount to be paid: 885

In [26]:
cost_of_items = [100, 200, 129, 456]
#                 0    1    2    3

total_sum = 0

for i in range(0, 3):  # 0,1,2,3
    print(f"{total_sum} = {total_sum} + {cost_of_items[i]}")
    total_sum = total_sum + cost_of_items[i]
    print(f"after adding total sum = {total_sum}")
    print("---------")
print(f"Total amount to be paid: {total_sum}")

0 = 0 + 100
after adding total sum = 100
---------
100 = 100 + 200
after adding total sum = 300
---------
300 = 300 + 129
after adding total sum = 429
---------
Total amount to be paid: 429

In [27]:
len(cost_of_items)

4

In [29]:
cost_of_items = [100, 200, 129, 456, 1000]
#                 0    1    2    3

total_sum = 0
N = len(cost_of_items)
for i in range(0, N):  # 0,1,2,3
    print(f"{total_sum} = {total_sum} + {cost_of_items[i]}")
    total_sum = total_sum + cost_of_items[i]
    print(f"after adding total sum = {total_sum}")
    print("---------")
print(f"Total amount to be paid: {total_sum}")

0 = 0 + 100
after adding total sum = 100
---------
100 = 100 + 200
after adding total sum = 300
---------
300 = 300 + 129
after adding total sum = 429
---------
429 = 429 + 456
after adding total sum = 885
---------
885 = 885 + 1000
after adding total sum = 1885
---------
Total amount to be paid: 1885

In [34]:
cost_of_items = [100, 200, 129, 456, 1000]
#                 0    1    2    3

total_sum = 0

for cost in cost_of_items:
    print(f"{total_sum} = {total_sum} + {cost}")
    total_sum = total_sum + cost
    print(f"after adding total sum = {total_sum}")
    print("---------")
print(f"Total amount to be paid: {total_sum}")

0 = 0 + 100
after adding total sum = 100
---------
100 = 100 + 200
after adding total sum = 300
---------
300 = 300 + 129
after adding total sum = 429
---------
429 = 429 + 456
after adding total sum = 885
---------
885 = 885 + 1000
after adding total sum = 1885
---------
Total amount to be paid: 1885

In [36]:
cost_of_items = [100, 200, 129, 456, 1000]
#                 0    1    2    3

total_sum = 0

for cost in cost_of_items:
   print(cost)

100
200
129
456
1000

In [38]:
cost_of_items = [100, 200, 129, 456, 1000]
#                 0    1    2    3

total_sum = 0
N = len(cost_of_items)
for i in range(0,N):
    print(cost_of_items[i])

100
200
129
456
1000

In [39]:
# Train Journey
stations = ["Station 01", "Station 02", "Station 03", "Station 04"]

for shubhranshu in stations:
    print(f"Current station is: {shubhranshu}")

Current station is: Station 01
Current station is: Station 02
Current station is: Station 03
Current station is: Station 04

## break and continue

In [4]:
cost_of_items = [100, 200, 129, 456, 1000, 199, 299]

total_sum = 0
budget = 2000

for cost in cost_of_items:
    total_sum = total_sum + cost
    print(f"Current_total: {total_sum}")
    if total_sum > budget:
        print(f"Since current total is more than my budget: {budget}")
        print("Please remove the last item")
        total_sum = total_sum - cost
        break

print(f"Total amount to be paid: {total_sum}")

Current_total: 100
Current_total: 300
Current_total: 429
Current_total: 885
Current_total: 1885
Current_total: 2084
Since current total is more than my budget: 2000
Please remove the last item
Total amount to be paid: 1885

In [9]:
for i in range(1,100):
    print(i)
    if i > 50:
        break

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51

In [10]:
for i in range(1,100):
    print(i)
    if i >=50:
        break

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [15]:
for i in range(1,20):
    if i%2 == 0: # if number is even, then start the loop again
        continue
    print(i)

1
3
5
7
9
11
13
15
17
19

In [21]:
for i in range(1,20):

    if i%2 == 0: # Stop the loop if the condition (that comes first ie. 2) fulfil, don't proceed at all
        break
    print(i)

1

In [22]:
# Train journey 
stations = ["Station 01", "Station 02", "Station 03", "Station 04"]

for current_station in stations:
  print(f"Current station is: {current_station}")
  if current_station == "Station 03":
    break

Current station is: Station 01
Current station is: Station 02
Current station is: Station 03

In [23]:
# Train journey 
stations = ["Station 01", "Station 02", "Station 03", "Station 04"]

for current_station in stations:
  print(f"Current station is: {current_station}")
  if current_station == "Station 02":
    break

Current station is: Station 01
Current station is: Station 02

In [24]:
# Train journey 
stations = ["Station 01", "Station 02", "Station 03", "Station 04"]

for current_station in stations:
  print(f"Current station is: {current_station}")
  if current_station == "Station 03":
    continue

Current station is: Station 01
Current station is: Station 02
Current station is: Station 03
Current station is: Station 04

#### Break - it completely stops the loop
#### Continue - it skips the current loop or it skips all the statement after continue keyword

In [25]:
for i in range(1, 10):
  pass # I want to write code later

In [28]:
# Train journey 
stations = ["Station 01", "Station 02", "Station 03", "Station 04"]

for current_station in stations:
  if current_station == "Station 02":
    pass
  print(f"Current station is: {current_station}")

Current station is: Station 01
Current station is: Station 02
Current station is: Station 03
Current station is: Station 04