## Nesting of the list
list inside a list

In [1]:
A = [[1,2,3],[11,22,33],[45,56,77]]

A

[[1, 2, 3], [11, 22, 33], [45, 56, 77]]

In [2]:
A[0]

[1, 2, 3]

In [3]:
A[1]

[11, 22, 33]

In [4]:
A[1][1]

22

In [6]:
A = [[1,2,3],[11,22,33,[55,78,98]],[45,56,77]]

A[1]

[11, 22, 33, [55, 78, 98]]

In [7]:
A[1][3]

[55, 78, 98]

In [8]:
A[1][3][1]

78

In [9]:
A = [[1,2,3], [11, 22, 33, [500, 502]], [45, [239, "Hiii"], 56, 77]]

A[2][1][1]

'Hiii'

In [10]:
A[-1][1][-1]

'Hiii'

In [11]:
amazon_cart = [["watch",5000],["phone",100000],["laptop",500000]]

total_cost = 0

In [12]:
# without for loop

amazon_cart[0][1]

5000

In [13]:
amazon_cart[1][1]

100000

In [14]:
amazon_cart[0][1] + amazon_cart[1][1] + amazon_cart[2][1]

605000

In [16]:
# With for loop

total_cost = 0

for i in range(len(amazon_cart)):
    print(i)
    print(amazon_cart[i][1])
    total_cost = total_cost + amazon_cart[i][1]
    print("------------")
print(total_cost)

0
5000
------------
1
100000
------------
2
500000
------------
605000

In [24]:
total_cost = 0
print(f"empty cart: {total_cost}")

for item in amazon_cart:
    print(item[1])
    total_cost = total_cost + item[1]
    print(f"cart after adding {item[0]}: {total_cost}")
    print("------------")
print(f"total payable amount: {total_cost}")

empty cart: 0
5000
cart after adding watch: 5000
------------
100000
cart after adding phone: 105000
------------
500000
cart after adding laptop: 605000
------------
total payable amount: 605000

## List Comprehension

In [26]:
# list which contains list of square of nos between 1 to 10

A = [1,2,3,4,5,6,7,8,9,10]
ans = [1, 4, 9, 16, ...]

In [30]:
A = [1,2,3,4,5,6,7,8,9,10]

ans = list()

for i in A:
    print(i**2)
    #ans.append(i**2)
    
print(ans)

1
4
9
16
25
36
49
64
81
100
[]

In [29]:
ans = [i**2 for i in A]

print(ans)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [31]:
# only take the square of odd no in the list A

A = [1,2,3,4,5,6,7,8,9,10]

ans = list()
print(ans)

for ele in A:
  if ele%2 != 0:
    print(ele**2)
    ans.append(ele**2)
    print(ans)

ans

[]
1
[1]
9
[1, 9]
25
[1, 9, 25]
49
[1, 9, 25, 49]
81
[1, 9, 25, 49, 81]

[1, 9, 25, 49, 81]

In [32]:
ans = [ele**2 for ele in A if ele%2 != 0]

print(ans)

[1, 9, 25, 49, 81]

## Count

In [35]:
A = [1,2,1,4,5,6,7,7,7]
A.count(1)

2

In [36]:
A.count(7)

3

In [37]:
A.count(799)

0

In [38]:
A = [1,2,1,4,5,6,7,7,7]
for i in A:
    print(i,A.count(i))

1 2
2 1
1 2
4 1
5 1
6 1
7 3
7 3
7 3

In [39]:
A = [1,2,1,4,5,6,[7,7],[7,7]]

A.count([7,7])

2

In [40]:
A.count(7)

0

In [41]:
A[-1].count(7)

2

In [44]:
A = "Shubhranshu"
for i in A:
    print(i,A.count(i))

S 1
h 3
u 2
b 1
h 3
r 1
a 1
n 1
s 1
h 3
u 2

In [45]:
A = ["Shubhranshu", "Shubhranshu", "Mishra"]
for i in A:
    print(i,A.count(i))

Shubhranshu 2
Shubhranshu 2
Mishra 1

In [46]:
A = ["shubhranshu", "Shubhranshu", "Mishra"]
for i in A:
    print(i,A.count(i))

shubhranshu 1
Shubhranshu 1
Mishra 1

## Extend

In [48]:
A = [1,2,3]
B = [11,22,33]

print(A+B)
print("before assignment")
print(A)

A = A + B
print("after assignment")
print(A)

[1, 2, 3, 11, 22, 33]
before assignment
[1, 2, 3]
after assignment
[1, 2, 3, 11, 22, 33]

In [49]:
A = [1,2,3]

B = [11, 22, 33]

A.extend(B) # permananet operation, inplace assignment

A

[1, 2, 3, 11, 22, 33]

In [50]:
A = [1,2,3]

B = [11, 22, 33]

A.append(B)  # permananet operation, inplace assignment

A

[1, 2, 3, [11, 22, 33]]

## Index method

In [51]:
A = [11,3,4,56+2j,"Shubhranshu",1+2j]

In [52]:
A.index(11)

0

In [54]:
A.index("Shubhranshu")

4

In [55]:
# print the index of all the complex nos.
# do a for loop
# if condition for type check
# if type is complex then print the index

for ele in A:
  if type(ele) == complex:
    print(f"Element: {ele} | Type: {type(ele)} | Index: {A.index(ele)}")

Element: (56+2j) | Type: <class 'complex'> | Index: 3
Element: (1+2j) | Type: <class 'complex'> | Index: 5

In [56]:
for ele in A:
  if type(ele) == int:
    print(f"Element: {ele} | Type: {type(ele)} | Index: {A.index(ele)}")

Element: 11 | Type: <class 'int'> | Index: 0
Element: 3 | Type: <class 'int'> | Index: 1
Element: 4 | Type: <class 'int'> | Index: 2

In [60]:
for ele in A:
    if type(ele) == str:
        print(f"Element: {ele} | Type: {type(ele)} | Index: {A.index(ele)}")

Element: Shubhranshu | Type: <class 'str'> | Index: 4

## isinstance

In [61]:
for ele in A:
    if isinstance(ele,complex):
        print(f"Element: {ele} | Type: {type(ele)} | Index: {A.index(ele)}")

Element: (56+2j) | Type: <class 'complex'> | Index: 3
Element: (1+2j) | Type: <class 'complex'> | Index: 5

In [64]:
ans = [ele for ele in A if isinstance(ele,complex)]
ans

[(56+2j), (1+2j)]

In [67]:
ans = [ele for ele in A if type(ele) == complex]
ans

[(56+2j), (1+2j)]

In [68]:
# print the index - all the complex or int also

for ele in A:
    if isinstance(ele,complex) or isinstance(ele,int):
        print(f"Element: {ele} | Type: {type(ele)} | Index: {A.index(ele)}")

Element: 11 | Type: <class 'int'> | Index: 0
Element: 3 | Type: <class 'int'> | Index: 1
Element: 4 | Type: <class 'int'> | Index: 2
Element: (56+2j) | Type: <class 'complex'> | Index: 3
Element: (1+2j) | Type: <class 'complex'> | Index: 5

In [69]:
A

[11, 3, 4, (56+2j), 'Shubhranshu', (1+2j)]

In [70]:
for ele in A:
  if isinstance(ele, (complex, int)): # pythonic way  # OR case
    print(f"Element: {ele} | Type: {type(ele)} | Index: {A.index(ele)}")

Element: 11 | Type: <class 'int'> | Index: 0
Element: 3 | Type: <class 'int'> | Index: 1
Element: 4 | Type: <class 'int'> | Index: 2
Element: (56+2j) | Type: <class 'complex'> | Index: 3
Element: (1+2j) | Type: <class 'complex'> | Index: 5

In [71]:
A

[11, 3, 4, (56+2j), 'Shubhranshu', (1+2j)]

In [72]:
A.index(3)

1

In [73]:
A.index(3333)

ValueError: 3333 is not in list

In [74]:
A = [1, 2, 3, [4,5,6], 7,8,9]

A.index([4,5,6])

3

In [75]:
A = [1, 2, 3, [4,5,6], 7,8,9]

A.index(4)

ValueError: 4 is not in list

In [76]:
A[3].index(4)

0

## insert

In [77]:
A = [1,2,3,4,5]

A.append(99)
A

[1, 2, 3, 4, 5, 99]

In [78]:
A.insert(2, "Shubhranshu")

A

[1, 2, 'Shubhranshu', 3, 4, 5, 99]

In [79]:
A.insert(2000,"Shubhranshu")

In [80]:
A

[1, 2, 'Shubhranshu', 3, 4, 5, 99, 'Shubhranshu']

In [81]:
A[2000]

IndexError: list index out of range

In [82]:
A.insert(-2000,"Shubhranshu")
A

['Shubhranshu', 1, 2, 'Shubhranshu', 3, 4, 5, 99, 'Shubhranshu']

In [83]:
A[-2000]

IndexError: list index out of range

In [84]:
A.insert(2,[1,3,4])
A

['Shubhranshu', 1, [1, 3, 4], 2, 'Shubhranshu', 3, 4, 5, 99, 'Shubhranshu']

## remove

In [85]:
A = [1,2,3,455, 6, 77]

A.remove(455)

A

[1, 2, 3, 6, 77]

In [86]:
A = [1,2,3,455, 6, 77]

A.remove(77)

A

[1, 2, 3, 455, 6]

In [87]:
A = [1,2,3,455, 6, 77]

A.remove(999)

A

ValueError: list.remove(x): x not in list

In [88]:
A.pop(-1)

77

In [89]:
A.pop() #this removes the last element

6

## Tuples () - Immutable
list [] - mutable

In [90]:
A = (1,2,3)
type(A)

tuple

In [91]:
A[0]

1

In [93]:
A[-1]

3

In [96]:
A[0] = 22

TypeError: 'tuple' object does not support item assignment

In [97]:
A = (22,12,34,1)

In [98]:
A.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [99]:
sorted(A)

[1, 12, 22, 34]

In [100]:
A = sorted(A)

A

[1, 12, 22, 34]

In [101]:
len(A)

4

In [102]:
A ** 2

TypeError: unsupported operand type(s) for ** or pow(): 'list' and 'int'

In [103]:
max(A)

34

In [104]:
min(A)

1

In [105]:
A.index(12)

1

In [106]:
A.count(12)

1

In [107]:
sum(A)

69

In [110]:
A

[1, 12, 22, 34]

In [111]:
A[1:]

[12, 22, 34]

In [112]:
A[::-1]

[34, 22, 12, 1]

In [113]:
# ("item_name", amount) 

amazon_cart = [("watch", 5000), ("phone", 10000), ("laptop", 50000), ("shirt", 1000)]

total_cost = 0

In [114]:
total_cost = 0
print(f"empty cart: {total_cost}")

for item in amazon_cart:
  print(item[1])
  total_cost = total_cost + item[1]
  print(f"cart after adding {item[0]}: {total_cost}")

print(f"Total payable amount: {total_cost}")

empty cart: 0
5000
cart after adding watch: 5000
10000
cart after adding phone: 15000
50000
cart after adding laptop: 65000
1000
cart after adding shirt: 66000
Total payable amount: 66000

In [115]:
amazon_website = [("watch", 5000), ("phone", 10000), ("laptop", 50000), ("shirt", 1000)]

my_choice = input("What you want to purchase? : ")

What you want to purchase? : phone

In [116]:
for item in amazon_website:
    if item[0] == my_choice:
        print(item)

('phone', 10000)

## Sets

unordered collection of unique elements

In [117]:
x = {1,2,33,6,7}

In [118]:
type(x)

set

In [119]:
x =  {1,2,33,6,7, 7, 7}

x

{1, 2, 6, 7, 33}

In [120]:
x = set() # RECOMMENDED

type(x)

set

In [121]:
x = {} # NOT recommended

type(x)

dict

In [122]:
x = tuple()
x

()

In [123]:
x = list()
x

[]

In [124]:
x =  {1,2,33,6,7, 7, 7}

x

{1, 2, 6, 7, 33}

In [125]:
x[0] # NOT allowed as set is unordered

TypeError: 'set' object is not subscriptable

In [126]:
x =  {1,2,33,6,"Sunny"}

x

{1, 2, 33, 6, 'Sunny'}

In [127]:
x.add(99)

x

{1, 2, 33, 6, 99, 'Sunny'}

In [128]:
x.add(99+2j)

x

{(99+2j), 1, 2, 33, 6, 99, 'Sunny'}

In [129]:
x.add( -100)

x

{(99+2j), -100, 1, 2, 33, 6, 99, 'Sunny'}

In [130]:
x.append(45)

AttributeError: 'set' object has no attribute 'append'

In [131]:
x.add( 20.2)

x

{(99+2j), -100, 1, 2, 20.2, 33, 6, 99, 'Sunny'}

In [132]:
x.remove(-100)

x

{(99+2j), 1, 2, 20.2, 33, 6, 99, 'Sunny'}

In [133]:
## return the list with unique elements

A = [1,2,3,5,5,6,6,7,7,7]

A = list(set(A))

A

[1, 2, 3, 5, 6, 7]

In [134]:
A = {1,2,3}
B = {4,5,6}


A + B

TypeError: unsupported operand type(s) for +: 'set' and 'set'