In [7]:
print("Hello World!")

Hello World!

In [8]:
print("Greetings! Today is my 1st class")
print('Good Evening')

Greetings! Today is my 1st class
Good Evening

In [9]:
Print("Hello World") # Python is case sensitive and functions must be written as defined

NameError: name 'Print' is not defined

In [10]:
"Good Evening"

'Good Evening'

In [11]:
print "Good Evening" # Mind the error

SyntaxError: Missing parentheses in call to 'print'. Did you mean print("Good Evening" # Mind the error)? (382041453.py, line 1)

In [12]:
"Good Morning"
print("Hi there") #Mind it

Hi there

In [13]:
print("Good 
Evening") # Multi line error, [5] -> correct one

SyntaxError: EOL while scanning string literal (3848610968.py, line 1)

In [14]:
print("""Good 
Evening""")

Good
Evening

In [15]:
print("""My name is Shubhranshu Mishra
I am learning Python programming language
It is really interesting
""")

My name is Shubhranshu Mishra
I am learning Python programming language
It is really interesting

In [16]:
"""
This is a 
demonstration 
of multi line comment
"""
print("Say cheers!")

Say cheers!

In [17]:
# Alternate approach
# of multi line comment
print("Hurrey!")

Hurrey!

In [18]:
print("My name is 'Shubhranshu Mishra'") #Exception case in print statement
# or
print("""My name is "Shubhranshu Mishra" """)
# or
print('My name is "Shubhranshu Mishra"')

My name is 'Shubhranshu Mishra'
My name is "Shubhranshu Mishra"
My name is "Shubhranshu Mishra"

-------------------------

In [19]:
125 + 458

583

In [20]:
142 * 520

73840

In [21]:
123 / 452

0.2721238938053097

In [22]:
154**2 # Power of the given number raise to 2

23716

In [23]:
(-1875)**2

3515625

In [24]:
1578 % 2 #Modulo operator gives the value of remainder

0

In [25]:
123 % 2

1

In [26]:
125 * 458
print("Result")

Result

In [27]:
print("125 * 458")
print("Result")

125 * 458
Result

In [28]:
print(125 * 458)
print("Result")

57250
Result

--------------------

Variable in Python
# Variable in Python
## Variable in Python
### Variable in Python
#### Variable in Python
###### Variable in Python

In [29]:
"""
Variable in Python
# Variable in Python
## Variable in Python
### Variable in Python
#### Variable in Python
###### Variable in Python
"""
print("Use # to increase font size in markdown")

Use # to increase font size in markdown

In [30]:
x = 10

In [31]:
print(x)

10

In [32]:
y = 10

In [33]:
print("y")

y

In [34]:
print(x + y)

20

In [35]:
print(x / y)

1.0

In [36]:
ten = 10 # Variable name should start from alphabet
ten_number = 10
tenNumber = 10

In [37]:
ten%number = 10 # Variable name should not contain any special charatcter
ten* = 10

SyntaxError: cannot assign to operator (770747323.py, line 1)

In [38]:
ten10 = 10

In [39]:
10ten = 10 # Variable name should not start with number but it can contain numbers

SyntaxError: invalid syntax (130689908.py, line 1)

In [40]:
__num = 10 # Hidden variable, which I dont want to show to the user

In [41]:
ten number = 10

SyntaxError: invalid syntax (2262126045.py, line 1)

In [42]:
ten_number = 10 # Spaces are not allowed in variable name

In [43]:
_ = 10 # Dummy variable

-------------

# Fundamental Data Type

Integer

In [44]:
a = 7

In [45]:
type(a)

int

In [46]:
b = 77777
type(b)

int

Float- number with decimal

In [47]:
pi = 3.14

In [48]:
type(pi)

float

In [49]:
pi_1 = 22 / 7
pi_1

3.142857142857143

In [50]:
type(pi)

float

In [51]:
x = 2.0
type(x)

float

In [52]:
y = 2
type(y)

int

Complex Number

In [55]:
a = 2  + 3j

In [56]:
a

(2+3j)

In [57]:
type(a)

complex

In [58]:
a.real

2.0

In [60]:
a.imag

3.0

## Dynamic Typing

In [66]:
a = 22
type(a)
a = 22.2
type(a)

float

In [68]:
a = 22
print(type(a))
a = 22.2
print(type(a))
a = "Shubhranshu"
print(type(a))

<class 'int'>
<class 'float'>
<class 'str'>

In [69]:
print(a)

Shubhranshu

## Strong typing

In [70]:
"Day" + 1

TypeError: can only concatenate str (not "int") to str

In [71]:
22.2 + 1

23.2

In [81]:
"Day " + "1"

'Day 1'

In [73]:
22 + 22

44

In [75]:
"22" + "22"

'2222'

In [76]:
"22" + 22

TypeError: can only concatenate str (not "int") to str

In [78]:
'22' + "22"

'2222'

In [80]:
"Shubhranshu " + "Mishra"

'Shubhranshu Mishra'

In [83]:
language = "Python"
print("Hello, Welcome to class of " + language + " language")

Hello, Welcome to class of Python language

In [84]:
# [83] is allowed but rarely used

In [86]:
# f string -> formatted string method
language = "Java"
print(f"Hi, Welcome to {language} language")

Hi, Welcome to Java language

In [88]:
language = "Python"
print("Hi, Welcome to {language} language") #Without f string

Hi, Welcome to {language} language

In [90]:
num = "first"
language = "python"
print(f"Hello, Today is my {num} class of {language} language")

Hello, Today is my first class of python language

In [93]:
## Old method

language = "Python"
print("Hi, Welcome to {} language".format(language))

num = "first"
language = "python"
print("Hello, Today is my {} class of {} language".format(num,language))

Hi, Welcome to Python language
Hello, Today is my first class of python language

In [95]:
a = 22
b = 58
c = a + b

print(f"The result of sum of a: {a} and b: {b} is c: {c}")

The result of sum of a: 22 and b: 58 is c: 80

In [96]:
a = 22
b = 58
c = a + b

print(f"The result of sum of {a} and {b} is {c}")

The result of sum of 22 and 58 is 80

## Boolean

True/ False

In [97]:
one = True
two = False

print(type(one))
print(type(two))

<class 'bool'>
<class 'bool'>

In [109]:
wake_up_at = 6
went_to_school = 8

you_are_on_time = wake_up_at < went_to_school

print(f"You are on time: {you_are_on_time}")

You are on time: True

In [113]:
wake_up_at = 6
went_to_school = 8

you_are_on_time = wake_up_at > went_to_school

print(f"You are on time: {you_are_on_time}")
# Illogical example though

You are on time: False

= means assignment

== means comparing equality

In [115]:
is_raining = False
umbralla_available = False
go_to_school = is_raining == umbralla_available
go_to_school

True

In [117]:
is_raining = True
umbralla_available = False
go_to_school = is_raining == umbralla_available
go_to_school

False

In [120]:
numA = 5
numB = 6
numA == numB

False

In [121]:
numA = 5
numB = 5
numA == numB

True

In [122]:
numA = 5
numB = 6
numA > numB

False

In [123]:
numA = 5
numB = 5
numA >= numB

True